version: '3.8'

services:
  bash-monitor:
    image: loptyloop/system-monitor-bash:latest
    container_name: system-monitor-bash
    hostname: monitor-bash
    privileged: true
    volumes:
      - ./data:/app/data
      - ./config:/app/config:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /sys/class/hwmon:/sys/class/hwmon:ro
      - /sys/class/thermal:/sys/class/thermal:ro
    environment:
      - TERM=xterm-256color
    network_mode: host
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
